[submodule "roles/ansible-role-nodejs"]
	path = roles/ansible-role-nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
